@model MyTiptop.Web.MallAdmin.Models.UserListViewModel
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户列表</title>
    <link type="text/css" rel="stylesheet" href="../../admin_mall/css/site.css" />
    <script type="text/javascript" src="../../admin_mall/scripts/jquery.js"></script>
    <script type="text/javascript" src="../../admin_mall/scripts/showlist.js"></script>
    <script type="text/javascript" src="../../admin_mall/scripts/tabhelp.js"></script>
</head>
<body>
    <h1 class="rightH1">
        用户管理 &gt;&gt; 用户列表
        <div class="right">
            <a href="@Url.Action("add")" class="menuBT"><img src="../../admin_mall/images/add.jpg" />添加</a>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </h1>
    @using (Html.BeginForm("list", "user"))
    {
        <div class="dataListSearch">
            <table height="32">
                <tbody>
                    <tr>
                        <td width="35"><img id="searchImg" src="../../admin_mall/images/search1.gif" /></td>
                        <td>
                            &nbsp;&nbsp;&nbsp;用户名：
                        </td>
                        <td width="110">
                            @Html.TextBox("UserName", Model.UserName, new { height = "18" })
                        </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;姓名：
                        </td>
                        <td width="110">
                            @Html.TextBox("UserCName", Model.UserCName, new { height = "18" })
                        </td>
                        <td></td>
                        <td width="130"></td>
                        <td></td>
                        <td width="130"></td>
                        <td></td>
                        <td width="130"></td>
                        <td>
                            <input id="SearchUser" name="SearchUser" type="image" class="searchBut submit" src="../../admin_mall/images/s.jpg" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="dataList">
            <table   style="width:100%" >
                <thead>
                    <tr>
                        <th width="10"></th>
                        <th width="140" align="left">用户名</th>
                        <th width="140" align="left">姓名</th>
                        <th width="80">帐户禁用</th>
                        <th width="80" align="left">在线情况</th>
                        <th width="150" align="left">登录次数</th>
                        <th width="140" align="left">最近操作时间</th>
                        <th width="150" align="left">在线总计（分钟）</th>
                        <th align="left">编辑</th>
                        <th align="left">删除</th>
                        <th width="150">分配权限</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MyTiptop.Core.xpGrid_User row in Model.UserList)
                    {
                        <tr>
                            <td></td>
                            <td>@row.UserName</td>
                            <td>@row.UserCName</td>
                            <td>@row.deleted</td>
                            <td>@row.Online</td>
                            <td>@row.LoginTimes </td>
                            <td>@Html.Label(Convert.ToString(row.LastOprtnDateTime))</td>
                            <td>@row.AllOnlineTime </td>
                            <td>@Html.ActionLink("[编辑]", "edit", new { uid = row.UserID }, new { @class = "editOperate" })</td>
                            <td>
                                @Html.ActionLink("[删除]", "delete", new { uid = row.UserID }, new { @class = "editOperate", onclick = "if(!confirm('您确认要删除该内容吗?')) return false;" })
                            </td>
                            <td>@Html.ActionLink("[分配权限]", "userauthorization", new { uid = row.UserID }, new { @class = "editOperate" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div >

        <div class="dataListEdit">
            <div class="page">
                @Html.MallAdminPager(Model.PageModel)
            </div>
        </div>
    }

@*@Html.Partial("_footer")*@

    <!-- iframe 高度设置 -->
    <script type="text/javascript" src="@Url.Content("~/admin_mall/scripts/home/iframe.js")"></script>

</body>
</html>
