@model MyTiptop.Web.MallAdmin.Models.RoleEditViewModel
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>编辑角色</title>
    <link type="text/css" rel="stylesheet" href="../../admin_mall/css/site.css" />
    @*<script type="text/javascript" src="../../admin_mall/scripts/jquery-3.1.1.min.js"></script>*@
    <script type="text/javascript" src="../../admin_mall/scripts/jquery.js"></script>
    <script src="../../admin_mall/scripts/jquery-3.1.1.intellisense.js"></script>
    <script type="text/javascript" src="../../admin_mall/scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="../../admin_mall/scripts/jquery.validate.extend.js"></script>
    <script type="text/javascript" src="../../admin_mall/scripts/tabhelp.js"></script>
    <script type="text/javascript">
        $(function () {

            //启用jquery表单验证
            $("form:first").validate();

            $(".addTag li").click(function () {
                $(".addTag li").removeClass("hot");
                $(this).addClass("hot");
                $(".addTable").hide().eq($(this).index()).show(0);
            })
            $(".addBt").click(function () {
                $("form:first").submit();
                return false;
            })
        });
        </script>
</head>

<body>
    <h1 class="rightH1">
        用户管理 &gt;&gt; 添加用户  @Html.Raw(ViewData["referer"].ToString())
        <div class="right">
            <a href="@ViewBag.referer"  class="menuBT"><img src="../../admin_mall/images/goback.jpg" />返回列表</a>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </h1>
    <ul class="addTag">
        <li class="hot"><a href="javascript:;">基本信息</a></li>
        @*<li><a href="javascript:;">积分信息</a></li>
        <li><a href="javascript:;">扩展信息</a></li>*@
        <div class="clear" />
       
    </ul>

    @using (Html.BeginForm())
    {
        <div class="addTable">
            <table width="100%" >
                <tr>
                    <td width="86px" align="right">角色：</td>
                    <td>
                       @Html.TextBoxFor(m => @Model.Role.RoleName, new { @class = "input", required=true , size = "35" })

                       @Html.Hidden("rid", @Model.Role.RoleId)
                    </td>
                </tr>
                <tr>
                    <td width="86px" align="right">备注：</td>
                    <td>
                        @Html.TextBoxFor(m => @Model.Role.RoleDes, new { @class = "input", size = "35" })
                    </td>
                </tr>
                <tr>
                    <td width="86px" align="right"></td>
                    <td>
                        
                    </td>
                </tr>
                <tr>
                    <td align="right">&nbsp;</td>
                    <td>
                        <a href="" class="addBt" id="sumbitBut1"><img src="../../admin_mall/images/submit.jpg" /></a>
                    </td>
                </tr>
                <tr>
                    <td align="right">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    }

    @Html.Partial("_footer")


    <!-- iframe 高度设置 -->
    <script type="text/javascript" src="@Url.Content("~/admin_mall/scripts/home/iframe.js")"></script>

</body>
</html>
