@model MyTiptop.Web.MallAdmin.Models.FuncListViewModel
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>角色列表</title>
    <link type="text/css" rel="stylesheet" href="../../admin_mall/css/site.css" />
    <script type="text/javascript" src="../../admin_mall/scripts/jquery.js"></script>
    <script type="text/javascript" src="../../admin_mall/scripts/showlist.js"></script>
    <script type="text/javascript" src="../../admin_mall/scripts/tabhelp.js"></script>
</head>
<body>
    <h1 class="rightH1">
        系统管理 &gt;&gt; 功能列表
        <div class="right">
            <a href="@Url.Action("funcadd")" class="menuBT"><img src="../../admin_mall/images/add.jpg" />添加</a>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </h1>
    @using (Html.BeginForm("Funclist", "role"))
    {
        <div class="dataListSearch">
            <table height="32">
                <tbody>
                    <tr>
                        <td width="35"><img id="searchImg" src="../../admin_mall/images/search1.gif" /></td>
                        <td>&nbsp;&nbsp;&nbsp;FuncCode：</td>
                        <td width="110">
                            @Html.TextBox("FuncCode", Model.FuncCode, new { height = "18" })
                        </td>
                        <td>&nbsp;&nbsp;&nbsp;FuncName：</td>
                        <td width="110">@Html.TextBox("FuncName", Model.FuncName, new { height = "18" })
                        </td>                        
                        <td>&nbsp;&nbsp;&nbsp;FuncUrl：</td>
                        <td width="130">@Html.TextBox("FuncUrl", Model.FuncUrl, new { height = "18" })
                        </td>
                        <td>&nbsp;&nbsp;&nbsp;FuncParent：</td>
                        <td width="130">@Html.TextBox("FuncParent", Model.FuncParent, new { height = "18" })</td>
                        <td></td>
                        <td width="130"></td>
                        <td>
                            <input id="SearchUser" name="SearchUser" type="image" class="searchBut submit" src="../../admin_mall/images/s.jpg" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="dataList">
            <table style="width:100%"  >
                <thead>
                    <tr>
                        <th width="40" align="center"><input type="checkbox" id="allSelect" /></th>
                        <th width="120" align="left">FuncCode</th>
                        <th width="150">FuncName</th>
                        <th width="180" align="left">FuncUrl</th>
                        <th width="90" align="left">FuncParent</th>
                        <th width="90" align="left">FuncImg</th>
                        <th width="90" align="left">Enable</th>
                        <th width="90" align="left">DisplayOrder</th>
                        <th width="90">编辑</th>
                        <th align="left">删除</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MyTiptop.Core.xpGrid_Functions row in Model.FuncList)
                    {
                        <tr>
                            <td align="center"><input type="checkbox" value="@row.FuncCode" selectItem="true" name="pmIdList" /></td>
                            <td>@row.FuncCode</td>
                            <td>@row.FuncName</td>
                            <td>@row.FuncUrl</td>
                            <td>@row.FuncParent</td>
                            <td>@row.FuncImg</td>
                            <td>@row.Enable</td>
                            <td>@row.DisplayOrder</td>
                            <td>@Html.ActionLink("[编辑]", "Funcedit", new { fid = row.FuncCode }, new { @class = "editOperate" }) </td>
                            <td>@Html.ActionLink("[删除]", "Funcdelete", new { fid = row.FuncCode }, new { @class = "editOperate" , onclick = "if(!confirm('您确认要删除该内容吗?')) return false;" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div >
        <div class="dataListEdit">
            <a href="#" delUrl="@Url.Action("delfunclist")" class="batch batchDel">批量删除</a>
            <div class="page">
                @Html.MallAdminPager(Model.PageModel)
            </div>
        </div>
    }
    @*页脚样式*@
    @*@Html.Partial("_footer")*@


    <!-- iframe 高度设置 -->
    <script type="text/javascript" src="@Url.Content("~/admin_mall/scripts/home/iframe.js")"></script>


</body>
</html>
