@model MyTiptop.Web.MallAdmin.Models.ChangeBarCodeViewModel
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>导入数据</title>
    <link type="text/css" rel="stylesheet" href="../../admin_mall/css/site.css" />
    <script type="text/javascript" src="../../admin_mall/scripts/jquery.js"></script>
    <script type="text/javascript" src="../../admin_mall/scripts/showlist.js"></script>
    <script type="text/javascript" src="../../admin_mall/scripts/tabhelp.js"></script>
</head>
<body>
    <h1 class="rightH1">
        更换条码 
        <div class="right">
            @*<a href="@Url.Action("statusadd")" class="menuBT"><img src="/admin_mall/images/add.jpg" />添加</a>*@
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </h1>
    @using (Html.BeginForm("UploadChangeBarCode", "BarCode", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="dataListSearch">
            <table height="32">
                <tbody>
                    <tr>
                        <td width="35"><img id="searchImg" src="../../admin_mall/images/search1.gif" /></td>
                        <td>
                            &nbsp;&nbsp;&nbsp;选择文件(xlsx)：
                        </td>
                        <td width="110">
                            <input type="file" name="file"     style="width:300px;" />
                        </td>
                        <td />
                        <td width="110">
                        </td>
                        <td /> 
                        <td width="130" />
                        <td />
                        <td width="130" /> 
                        <td><label><input name="chFlag" type="checkbox" value="1" checked="checked" />重置防水(需要新条码) </label></td>
                        <td><label><input name="chFlag" type="checkbox" value="2" checked="checked" />更换气密性(需要新旧条码) </label></td>
                        <td>
                            <input id="SearchUser" name="SearchUser" type="image" class="searchBut submit" src="../../admin_mall/images/s.jpg" />@Model.Message
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="dataList">
            <table   style="width:100%" >
                <thead>
                    <tr>
                        <th width="10"></th>
                        <th width="140">序号</th>
                        <th align="left">旧条码</th>
                        <th align="left">新条码</th>
                        <th align="left"> --系统值tc_brdacti（0代表已处理）--</th>
                        <th align="left"> --系统值tc_brd20（0代表已处理）--</th>
                    </tr>
                </thead>
                <tbody name="table">
                    @foreach (System.Data.DataRow row in Model.List.Rows) 
                    { 
                        <tr> 
                            <td></td>
                            <td>@row[0] @Html.Hidden("序号", @row[0])</td>
                            <td>@row[1] @Html.Hidden("旧条码", @row[1])</td>
                            <td>@row[2] @Html.Hidden("新条码", @row[2])</td>
                            <td>@row[3] @Html.Hidden("系统值", @row[3])</td>
                            <td>@row[4] </td>
                       </tr>
                    }
                </tbody>

            </table>
        </div>
 
        <div class="dataListEdit">
          
            <a href="#" delUrl="@Url.Action("ImportChangeBarCode")" class="batch change">确认提交</a>  
            <div class="page">
                @*@Html.MallAdminPager(Model.PageModel)*@
            </div>
        </div>
    }

@Html.Partial("_footer")

    <!-- iframe 高度设置 -->
    <script type="text/javascript" src="@Url.Content("~/admin_mall/scripts/home/iframe.js")"></script>

</body>
</html>
