<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    @*<script type="text/javascript" src="../../admin_mall/scripts/jquery-3.1.1.min.js"></script>*@
    @*<script type="text/javascript" src="../../admin_mall/scripts/jquery.js"></script>*@
    @*<script type="text/javascript" src="@Url.Content("~/admin_mall/scripts/jquery.js")"></script>*@

    <!--------------------------------------------- basic scripts -------------------------------------------->
    <!--[if !IE]> -->
    <script src="@Url.Content("~/Content/assets/js/jquery-2.1.4.min.js")"></script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script src="@Url.Content("~/Content/assets/js/jquery-1.11.3.min.js")"></script>
    <![endif]-->
    <script type="text/javascript">
        if('ontouchstart' in document.documentElement) document.write("<script src='@Url.Content("~/Content/assets/js/jquery.mobile.custom.min.js")'>"+"<"+"/script>");
    </script>
    <script src="@Url.Content("~/Content/assets/js/bootstrap.min.js")"></script>

    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
      <script src="@Url.Content("~/Content/assets/js/excanvas.min.js")"></script>
    <![endif]-->
    <!--------------------------------------------- basic scripts end ----------------------------------------->

    <!--miniui-->
    <script type="text/javascript" src="@Url.Content("~/admin_mall/scripts/boot.js")"></script>
    <link href="@Url.Content("~/admin_mall/scripts/miniui/themes/blue/skin.css")" rel="stylesheet" type="text/css" />

    @*<link href="@Url.Content("~/admin_mall/css/_share.css")" rel="stylesheet" type="text/css" />*@
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
            border: 0;
            width: 100%;
            height: 900px;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="mini-toolbar" style="padding: 2px; border-bottom: 0;">
        <table style="width: 100%;">
            <tr>
                <td style="width: 100%;">
                    <a class="mini-button" iconcls="icon-add" onclick="addRow()" plain="true" tooltip="增加...">增加</a>
                    <span class="separator"></span> 
                    <a class="mini-button" iconcls="icon-remove" onclick="removeRow()" plain="true">删除</a>
                    <span class="separator"></span>
                    <a class="mini-button" iconcls="icon-save" plain="true" onclick="saveData()">保存</a> 
                    <span class="separator"></span>
                    @*<a class="mini-button" iconcls="icon-expand" onclick="ExportExcel()" plain="true">导出</a><span class="separator"></span>*@
                    @*<input  id="ddlrungrid" labelField="true" label="报表名称：" name="ddlrungrid" showNullItem="true" class="mini-combobox"  url="ddlRungrid" value="" textField="text" valueField="id"  />*@
                </td>
                <td style="white-space: nowrap;">
                    <label style="font-family: Verdana;">
                        关键字:
                    </label>
                    <input id="key" class="mini-textbox" emptytext="请输入关键字" style="width: 150px;"  onenter="onKeyEnter" />
                    <a class="mini-button" iconcls="icon-search" plain="true" onclick="search()">查询</a>
                </td>
            </tr>
        </table>
    </div>

    <div class="mini-fit">
        <div id="datagrid1" class="mini-datagrid" style="width: 100%; height: 900;" url="MyDataBing" 
             idfield="TC_QCX01" allowresize="true" sizelist="[20,50,100,200,300]" pagesize="20" allowcelledit="true" cellEditAction="celldblclick"  oncellbeginedit="OnCellBeginEdit"
             allowcellselect="true" editnextonenterkey="true" allowcellvalid="true" multiselect="true"  
             editnextrowcell="true" allowalternating="true" showcolumnsmenu="false" contextmenu="#gridMenu" headercontextmenu="#headerMenu">
            <div property="columns">
                <div type="indexcolumn"></div>
                <div type="checkcolumn"></div>

                <div field="TC_QCX06" name="TC_QCX06" width="60" align="left" headeralign="center" vtype="required" allowsort="true">
                    类别<input property="editor" class="mini-textbox" style="width: 100%;" minwidth="20" />
                </div>
                <div field="TC_QCX01" name="TC_QCX01" width="60" align="left" headeralign="center"  vtype="required"   allowsort="true">
                    序号<input property="editor" class="mini-textbox" style="width: 100%;" minwidth="20" />
                </div>
                <div field="TC_QCX02" name="TC_QCX02" width="280" align="left" headeralign="center"  vtype="required"   allowsort="true">
                    检查项目<input property="editor" class="mini-textbox" style="width: 100%;" minwidth="20" />
                </div>
                <div field="TC_QCX07" name="TC_QCX07" width="80" align="left" headeralign="center"  allowsort="true">
                    显示序号<input property="editor" class="mini-textbox" style="width: 100%;" minwidth="20" />
                </div>
                <div field="TC_QCX04" name="TC_QCX04" width="80" align="center" headeralign="center" renderer="onGenderRenderer2" allowsort="true">
                    关键项次<input property="editor" class="mini-combobox" style="width: 100%;" data="Genders2" minwidth="20" />
                </div>
                <div field="TC_QCX03" name="TC_QCX03" width="100" align="center" headeralign="center"  vtype="required"   allowsort="true">
                    上级序号<input property="editor" class="mini-textbox" style="width: 100%;" minwidth="20" />
                </div>
            </div>
        </div>
     </div>
    <!-- iframe 高度设置 -->
    <script type="text/javascript" src="@Url.Content("~/admin_mall/scripts/home/iframe.js")"></script>

</body>
</html>

<script type="text/javascript">

    mini.parse();

    var grid = mini.get("datagrid1");

    //默认查询在用数据
    //grid.load({ status: ddlrungrid });
    grid.load();

    ///////////////////////////查询/////////////////////////////
    function search() {
        var key = mini.get("key").getValue();
       
        grid.load(
            { 
                //传递查询参数 
                key: key
            }
        );
    }
    function onKeyEnter(e) {
        search();
    }

    //如果是录入员,录入时间，则不允许编辑
    function OnCellBeginEdit(e) {
        var field = e.field;
    }
    //添加
    function addRow() {
        var newRow = { name: "New Row" };
        grid.addRow(newRow, 0);
        grid.beginEditCell(newRow, "LoginName");
    }
    //删除
    function removeRow() {
        var rows = grid.getSelecteds();
        if (rows.length > 0) {
            grid.removeRows(rows, true);
        }
    }
    //保存
    function saveData() {
        //效验数据
        //var grid = mini.get("datagrid1");
        grid.validate();
        if (grid.isValid() == false) {
            //alert("请校验输入单元格内容");
            var error = grid.getCellErrors()[0];
            grid.beginEditCell(error.record, error.column);
            return;
        }
        //获得增加、删除、修改的记录集合
        var data = grid.getChanges();
        var json = mini.encode(data);
        //mini.encode(data)          把JS对象序列化为字符串
        //mini.decode(json)            把字符串反序列化为JS对象
        var flag = true;
        var ojson = data; //mini.decode(json)
        //判断当前模具是否已经达到 使用寿命，若已经达到寿命，则组织提交，并提示出来。
        for (var i = 0; i < ojson.length; i++) {
            var sid = ojson[i].TC_QCX01;
            var qcx03 = ojson[i].TC_QCX03;
            if (!isNumber(sid)) {
                flag = false;
                alert(sid + '非数字');
                return;
            }
            if (!isNumber(qcx03)) {
                flag = false;
                alert(qcx03 + '非数字');
                return;
            }
           
            //删除动作不判断
            if (ojson[i]._state == "added") {
                //返回false 则不允许调用保存按钮 data.content
                $.ajax({
                    dataType: "json",
                    type: 'post',
                    url: '@Url.Content("~/malladmin/qclist/IsExistsCheckListAjax")',
                    data: {
                        "sid": sid //ojson[i].TC_QCX01
                    },
                    async: false, //取消异步
                    success: function (data, status) {
                        //alert(data);
                        //alert(data.content);
                        if (data.content == "1") {
                            //达到寿命
                            flag = false;
                            alert(sid+":已经存在，不能重复");
                            return;
                        }
                    },
                    error: function (data, status) {
                        alert('ajax Prdt Error');
                    }
                });
            }
        }
        //通过前台验证。提交后台处理
        if (flag) {
            grid.loading("保存中，请稍后......");
            $.ajax({
                url: "@Url.Content("~/malladmin/qclist/SaveChanged")",
                data: { data: json },
                type: "post",
                success: function (text) {
                    grid.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                }
            });
        }
    } 

    grid.on("celleditenter", function (e) {
        var index = grid.indexOf(e.record);
        if (index == grid.getData().length - 1) {
            var row = {};
            grid.addRow(row);
        }
    });

    grid.on("beforeload", function (e) {
        if (grid.getChanges().length > 0) {
            if (confirm("有增删改的数据未保存，是否取消本次操作？")) {
                e.cancel = true;
            }
        }
    });

    //
    var Genders2 = [{ id: 0, text: '' }, { id: 1, text: '关键项次' }];
    function onGenderRenderer2(e) {
        for (var i = 0, l = Genders2.length; i < l; i++) {
            var g = Genders2[i];
            if (g.id == e.value) return g.text;
        }
        return "";
    }


    function isNumber(value)
    {
        //验证是否为 数字 0+ 正整数
        //var patrn = /^[1-9]\d*|0$/;
        var reg = /^([1-9]\d*|[0]{1,1})$/; //含0正整数
       
        if (reg.test(value))
        {
            return true;
        }
        else
        {
            return false;
        } 
    }
 

</script>


<script type="text/javascript">

   // $(window).on('load', function(){ ...});
    // 大概意思：$(window).load(function(){})在高版本中已经废弃，
    //$(window).on('load',function(){});

        var WinAlerts = window.alert;
        window.alert = function (e) {
            //console.log('对象数组1：', e);

            if (e != null && e.indexOf("www.miniui.com") > -1) {
                //和谐了
            }
            else {
                WinAlerts(e);
            }
        };

</script>