@model MyTiptop.Web.MallAdmin.Models.DCheckOutListViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">*@
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <!--响应式设置，自动检测客户端设备-->
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <title>产生出货检查单</title>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/bootstrap.min.css")" /><!-- Url.Content 路径取绝对路径 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/font-awesome/4.5.0/css/font-awesome.min.css")" />
    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/fonts.googleapis.com.css")" />
    <!-- ace styles -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/ace.min.css")" class="ace-main-stylesheet" id="main-ace-style" />
    <!--[if lte IE 9]>
        <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/ace-part2.min.css")" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/ace-skins.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/ace-rtl.min.css")" />
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/ace-ie.min.css")" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="@Url.Content("~/Content/assets/js/ace-extra.min.js")"></script>
    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="@Url.Content("~/Content/assets/js/html5shiv.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/respond.min.js")"></script>
    <![endif]-->

    <link href="@Url.Content("~/admin_mall/css/_share.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="@Url.Content("~/components/my97datepicker/WdatePicker.js")"></script>

    <!--------------------------------------------- basic scripts -------------------------------------------->
    <!--[if !IE]> -->
    <script src="@Url.Content("~/Content/assets/js/jquery-2.1.4.min.js")"></script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script src="assets/js/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        if('ontouchstart' in document.documentElement) document.write("<script src='@Url.Content("~/Content/assets/js/jquery.mobile.custom.min.js")'>"+"<"+"/script>");
    </script>
    <script src="@Url.Content("~/Content/assets/js/bootstrap.min.js")"></script>
    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
      <script src="assets/js/excanvas.min.js"></script>
    <![endif]-->
    <!-- ace scripts -->
    <script src="@Url.Content("~/Content/assets/js/ace-elements.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/ace.min.js")"></script>

    <!-- 自定义js -->
    <!-- iframe 高度设置 -->
    <script type="text/javascript" src="@Url.Content("~/admin_mall/scripts/home/iframe.js")"></script>

    <!--bootstrap 表单验证插件-->
    <script src="@Url.Content("~/Content/bootstrap/validator/js/bootstrapValidator.min.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap/validator/js/language/zh_CN.js")"></script>

    @* 智能提示Text *@
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/admin_mall/scripts/jqueryui/jquery-ui.min.css")" />
    <script src="@Url.Content("~/admin_mall/scripts/jqueryui/jquery-ui.min.js")"></script>
    @*<script src="@Url.Content("~/admin_mall/scripts/autocomplete.js")"></script>*@

    <script type="text/javascript">

        //选择OK/NG，用ajax方式提交更新
        function checking(qcz01, qcz05, qcz03)
        {
            //1.检查上一个选项是否选择，如果没有选择则不允许提交。
            //2.更新数据库。显示模态框休息5秒
            var flag = false;
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '@Url.Content("~/malladmin/qcoutlist/checkingAjax")',
                data: {
                    "qcz01": qcz01,
                    "qcz05": qcz05
                },
                async: false, //是否异步
                success: function (data, status) {
                    if (data.content == "1") {
                        flag = true;
                    }
                },
                error: function (data, status) {
                    alert('ajax checkingAjax Error');
                }
            });
            if (flag) {
                //更新数据库。显示模态框休息5秒
                $.ajax({
                    dataType: "json",
                    type: 'post',
                    url: '@Url.Content("~/malladmin/qcoutlist/updateQcz03Ajax")',
                    data: {
                        "qcz01": qcz01,
                        "qcz03": qcz03,
                        "qcz05": qcz05
                    },
                    async: true, //是否异步
                    success: function (data, status) {
                        if (data.content == "1") {
                            //显示模态框
                           
                            openMotal();
                        }
                        if (data.content == "2")
                        {
                            alert("已经审核,不能修改");
                        }
                    },
                    error: function (data, status) {
                        alert('ajax updateQcz03Ajax Error');
                    }
                });
            }
            else {
                //$("input[name='imgtitle']").val();//这个只能取到第一个的值
                var name = "radio" + qcz05;
                $("input[name='" + name + "']").each(function () {
                    //alert($(this).val());
                    $(this).attr("checked", false);//取消选中
                });
                alert("请按顺序勾选检验项次！");
            }
        }

        //添加备注。分3种类型 分别对应不同字段
        function addval(qczz01, qczz06,type)
        {
            //ajax 后台添加即可
            var val = $("#txtval" + type + qczz06).val();
            //alert(qcz04);
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '@Url.Content("~/malladmin/qcoutlist/addQczzValAjax")',
                data: {
                    "qczz01": qczz01,
                    "val": val,
                    "qczz06": qczz06,
                    "type":type
                },
                async: true, //是否异步
                success: function (data, status) {
                    if (data.content == "1") {
                        //显示模态框
                        //openMotai();
                    }
                    if (data.content == "2") {
                        alert("已经审核,不能修改");
                    }
                },
                error: function (data, status) {
                    alert('ajax addval Error');
                }
            });
        }


        $(function () {
            //表单提交操作
            function doPostBack(action) {
                var from = $("form:first");
                if (action != "") {
                    from.prop("action", action);
                }
                from.get(0).submit();
            };
            //查询
            $("#btnQuery").click(function () {
                var qcy01 = $("#txtqcy01").val();
                //验证是否PN有值
                if (qcy01 != "") {
                    //参数赋值
                    $("#_state").val("query");
                    //提交
                    doPostBack("");
                    return false;
                }
                else {
                    alert("请输入PN查询");
                }
            });

            //智能提醒
            var availableTags = ["相机轴模组","锡膏模组"];
            $("#txtqcy02").autocomplete({
                source: availableTags,
                minLength: 0
            });

            var availableTags2 = ["ASM", "AS"];
            $("#txtqcy03").autocomplete({
                source: availableTags2,
                minLength: 0
            });

            var availableTags2 = ["新加坡", "英国"];
            $("#txtqcy05").autocomplete({
                source: availableTags2,
                minLength: 0
            });
        });

        function openMotal()
        {
            //暂时取消弹框
            //if (window.parent != window) {
            //    parent.openMotal("title","请休息一下，",5);
            //}
        }

    </script>
</head>

<body>

    @using (Html.BeginForm("dchecklist2", "qcoutlist", FormMethod.Post, new { id = "form1", name = "form1", @class = "form-horizontal", autocomplete = "off" }))
    {
        <div class="page-header"><h1>@Model.qcy.TC_QCYY01 检查表 CHECK LIST <small class="text-right">PLP  Number：1039</small></h1>
        <input type="hidden" id="_state" name="_state" value="add" />
        </div>
        <div class="form-group">
            <label for="txtqcy01" class="col-sm-2 control-label">Module Number:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="txtqcy01" name="TC_QCYY01" placeholder="Module Number" value="@Model.qcy.TC_QCYY01">
            </div>
            <label for="txtqcy02" class="col-sm-2 control-label">Vendor Number:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control"  id="txtqcy02" name="TC_QCYY02" placeholder="Vendor Number" value="@Model.qcy.TC_QCYY02">
            </div>
            <label for="txtqcy03" class="col-sm-1 control-label">PO：</label>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="txtqcy03" name="TC_QCYY03" placeholder="PO" value="@Model.qcy.TC_QCYY03">
            </div>
            <div class="col-sm-2">
                <small class="text-right">PLP Rev：43</small> 
                @if (Model.qcy.TC_QCYY12 == 2)
                {
                    <img src="@Url.Content("~/images/checked.png")" alt="核" class="img-thumbnail">
                }
            </div>
        </div>
      
        <div class="form-group">
            <div class="col-sm-offset-6 col-sm-4">
                <button type="button" class="btn btn-default" id="btnQuery">查询</button>
                <button type="submit" class="btn btn-default">添加</button>
            </div>

            <div class="col-sm-2 btn-warning">
                @Model.message
            </div>
        </div>
    }


    <!--分割线-->
    @*<div class="divider"></div>*@

    <!--table-->

    <div class="row">
        <div class="col-xs-12">
            <table id="simple-table" class="table  table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="detail-col"></th>
                        <th class="detail-col">序号</th>
                        <th colspan="1" style="width:65%">检查项目</th>
                        <th colspan="4" class="center">检测结果</th>
                        @*<th colspan="2">备注</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (MyTiptop.OraCore.TC_QCZZ_FILE row in Model.qczlist)
                    {
                        if (row.TC_QCZZ06 == 0)
                        {
                        <!--父节点-->
                            <tr>
                                <td class="center">
                                    <div class="action-buttons">
                                        <strong>@row.TC_QCZZ07</strong>
                                    </div>
                                </td>

                                <td colspan="2">
                                    @row.TC_QCZZ02
                                </td>
                                <td colspan="4"></td>
                                @*<td></td><td></td><td></td>*@
                            </tr>
                        }
                        else
                        {
                        <!--子节点-->
                            <tr>
                                <td class="center">
                                    @if (row.TC_QCZZ10 == 1)
                                    {
                                        <i class="ace-icon glyphicon glyphicon-star" style="color:coral;"></i>
                                    }
                                </td>
                                <td class="center">
                                    <div class="action-buttons">
                                        @{
                                            //int showNumber = row.TC_QCZZ06 - row.TC_QCZZ07;
                                            //string[] a = row.TC_QCZZ09.ToString().Split(',');
                                        }
                                        <strong>@row.TC_QCZZ08</strong><!--序号-->
                                    </div>
                                </td>
                                <td>
                                    @row.TC_QCZZ02
                                </td>

                                @{
                                    //结果
                                    string[] a = new string[] { };
                                    if (row.TC_QCZZ09 != null && row.TC_QCZZ09.ToString().Length > 0)
                                    {
                                        a = row.TC_QCZZ09.ToString().Split(',');
                                    }
                                }
                                @foreach (string x in a)
                                {
                                    if (x == "1")
                                    {
                                        <td colspan="4">
                                        <input type="text" class="form-control" id="txtval1@{@row.TC_QCZZ06}" placeholder="" value="@row.TC_QCZZ03" onkeyup="addval('@row.TC_QCZZ01','@row.TC_QCZZ06',1)">
                                        </td>
                                    }
                                    if (x == "2" && ((IList<string>)a).Contains("3"))
                                    {
                                        <td colspan="2">
                                            <span>数据DATA:</span> <input type="text" class="form-control" id="txtval2@{@row.TC_QCZZ06}" placeholder="数据" value="@row.TC_QCZZ04" onkeyup="addval('@row.TC_QCZZ01','@row.TC_QCZZ06',2)">
                                        </td>
                                    }
                                    else if (x == "2" && !((IList<string>)a).Contains("3"))
                                    {
                                        <td colspan="2">
                                            <span>数据DATA:</span> <input type="text" class="form-control" id="txtval2@{@row.TC_QCZZ06}" placeholder="数据" value="@row.TC_QCZZ04" onkeyup="addval('@row.TC_QCZZ01','@row.TC_QCZZ06',2)">
                                        </td>
                                        <td colspan="2"></td>
                                    }
                                    if (x == "3" && ((IList<string>)a).Contains("2"))
                                    {
                                        <td colspan="2">
                                            <span> 操作者Operator:</span><input type="text" class="form-control" id="txtval3@{@row.TC_QCZZ06}" placeholder="操作者" value="@row.TC_QCZZ05" onkeyup="addval('@row.TC_QCZZ01','@row.TC_QCZZ06',3)">
                                        </td>
                                    }
                                    else if (x == "3" && !((IList<string>)a).Contains("2"))
                                    {
                                        <td colspan="2"></td>
                                        <td colspan="2">
                                            <span> 操作者Operator:</span><input type="text" class="form-control" id="txtval3@{@row.TC_QCZZ06}" placeholder="操作者" value="@row.TC_QCZZ05" onkeyup="addval('@row.TC_QCZZ01','@row.TC_QCZZ06',3)">
                                        </td>
                                     }
                                }
                         </tr>
                        }
                    }
                </tbody>
            </table>
        </div><!-- /.span -->
    </div><!-- /.row -->

</body>
</html>



<script type="text/javascript">
    $(function () {

        //eg:https://www.jianshu.com/p/756b225d480d


        //$('#txtqcy02').blur(function () {
        //    $('#form1').bootstrapValidator('validate');
        //});



        $('#form1').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                TC_QCYY01: {
                    message: 'PN验证失败',
                    validators: {
                        notEmpty: {
                            message: 'PN不能为空'
                        }
                    }
                },
                TC_QCY0Y2: {
                    message: '验证失败',
                    validators: {
                        notEmpty: {
                            message: '不能为空'
                        }
                    }
                },
                TC_QCYY03: {
                    message: '验证失败',
                    validators: {
                        notEmpty: {
                            message: '不能为空'
                        }
                    }
                }
            }
        });
    });

</script>